doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-117088449-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117088449-2');
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description",content="陸上競技場の利用時間確認ページ　陸上競技場を個人利用したい際に個々のウェブページを訪問しなくても、こちらから確認できます。")
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    // Adsense
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7941378059940304",
      enable_page_level_ads: true
      });
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    title いつラン - 陸上競技場の利用時間確認
  body
    #app
      block navigation
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
          a.navbar-brand(href='/') いつラン
          span.navbar-text.mr-xl-5.mr-lg-5.mr-md-5
           .text-light 競技場の利用時間確認
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarToggler.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle.active(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | 東京都の競技場
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/') 織田フィールド
                  a.dropdown-item(href='/yumenoshima') 夢の島陸上競技場
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle.active(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | 神奈川県の競技場
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/todoroki') 等々力陸上競技場
            //form.form-inline.my-2.my-lg-0
            //  input.form-control.mr-sm-2(type='search', placeholder='競技場名を入力...', aria-label='Search')
            //  button.btn.btn-success.my-2.my-sm-0(type='submit') 競技場検索
      .container.pt-4
        block schedule
      .container.pt-2
        block information
      .container.pt-3
        hr
        h4.pt-2 ウェブサイトの要望は、
        a(href="https://twitter.com/shinya_yamada")
          h4 @shinya_yamada
        h4 までどうぞ
    block scripts
      // Optional JavaScript
      // jQuery first, then Popper.js, then Bootstrap JS
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
      script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase.js')
      script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js')
      script.
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyCSsO3dn7qPHhGDt4MfXSeiPrk-pF51m-g",
          authDomain: "itsrun-aaf42.firebaseapp.com",
          databaseURL: "https://itsrun-aaf42.firebaseio.com",
          projectId: "itsrun-aaf42",
          storageBucket: "itsrun-aaf42.appspot.com",
          messagingSenderId: "337135752630"
        };
        firebase.initializeApp(config);
        var weekIndex = !{JSON.stringify(week_index)};
        var stadiumId = !{JSON.stringify(stadium_id)};
        var pageBase = !{JSON.stringify(page_base)};
      script(src='/javascripts/index.bundle.js')
