extends base

block bodycontent
  #app
    .container.pt-4
      h1= title
    .container.pt-4
      stadium-selector(v-bind:stadiums='stadiums', v-on:item-selected='handleStadiumSelected')
      nav(aria-label='Page navigation example')
        pagination(v-on:previous-week-event='handlePreviousWeek', v-on:next-week-event='handleNextWeek')
      manage-schedule(v-bind:timeslots='timeSlots', v-bind:dates='dates', v-bind:status='status', v-on:schedule-changed='handleScheduleChanged')
      button.btn.btn-primary(type='button', v-on:click='handleSubmit') Update
      .alert.alert-primary.mt-3.md-3(role='alert') {{ statusMessage[0] }}

append scripts
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase.js')
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase-auth.js')
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js')
  script.
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCSsO3dn7qPHhGDt4MfXSeiPrk-pF51m-g",
      authDomain: "itsrun-aaf42.firebaseapp.com",
      databaseURL: "https://itsrun-aaf42.firebaseio.com",
      projectId: "itsrun-aaf42",
      storageBucket: "itsrun-aaf42.appspot.com",
      messagingSenderId: "337135752630"
    };
    firebase.initializeApp(config);
  script(src='/javascripts/common_module.bundle.js')
  script(src='/javascripts/manage.bundle.js')