extends stadiumbase 

block topcontent 
  h2 織田フィールド 開放日
  h5 織田フィールドの個人利用可能時間は以下の通りです。
block schedule
  nav(aria-label='Page navigation example')
    pagination(v-on:previous-week-event='handlePreviousWeek', v-on:next-week-event='handleNextWeek')
  .d-md-none
    schedule-phone(v-bind:timeslots='timeSlots', v-bind:dates='dates', v-bind:status='status')
  .d-none.d-md-block
    schedule-pc(v-bind:timeslots='timeSlots', v-bind:dates='dates', v-bind:status='status')
block information
  h2 織田フィールドの情報 
  h4 代々木公園陸上競技場(織田フィールド)
  .d-md-none
    iframe.mb-2(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4061911644067!2d139.69173161501527!3d35.66699913836023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cad8ba1d227%3A0x8b5756b02932d0b1!2z5Luj44CF5pyo5YWs5ZySIOmZuOS4iuertuaKgOWgtA!5e0!3m2!1sja!2sjp!4v1526609293873', width='330', height='300', frameborder='0', style='border:0', allowfullscreen='')
  .d-none.d-md-block
    iframe.mb-2(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4061911644067!2d139.69173161501527!3d35.66699913836023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cad8ba1d227%3A0x8b5756b02932d0b1!2z5Luj44CF5pyo5YWs5ZySIOmZuOS4iuertuaKgOWgtA!5e0!3m2!1sja!2sjp!4v1526609293873', width='800', height='600', frameborder='0', style='border:0', allowfullscreen='')
  h4 アクセス
  h6 千代田線代々木公園駅徒歩6分
  h6 山手線原宿駅徒歩15分
  h4 連絡先
  h6 代々木公園サービスセンター
  h6 （TEL:03-3469-6081）
  h4.pt-3 使用感
  hr.mt-1.mb-2
  h5.expand-line-height 原宿駅から徒歩圏内にある競技場。非常に立地がよく、火水金土と21時まで利用可能で、利用料金も無料ということで、
     | 該当日の19時以降は仕事帰りの社会人や大学生でごった返す。
     br
     br
     | 人は多いながらも、最低限のマナーは守られているので、あまり事故は起こっていないようだ。
     | ただし、3, 4レーンまで膨らんで走らないといけないような場面にはしょっちゅう遭遇するので、
     | 1レーンを集中して走りたい場合は夢の島陸上競技場などをおすすめする。
     br
     br
     | 無料で利用できるだけでなく、更衣室と無料ロッカーがあり、シャワールームまであるという充実の施設だが、
     | 利用者数の多さだけがネックなので、個人的には300円くらい徴収すれば人も減って良いのではないかと思う。
     br
     br
     | 練習後はシャワーを浴びて、渋谷や原宿で夕食をとるという、交流にはもってこいな立地も人気を集めている理由ではないかと思う。