extends pacebase 

block content
  .mb-3
    h3 ペース表示種目
    select.custom-select
      option() マラソン　〜３時間半
      option(selected) マラソン　３時間半〜５時間
      option() マラソン　５時間〜７時間
      option() 10000m
      option() 1500m
      option() 800m

  .table-responsive
    table.table.table-bordered
      thead
        tr
          th(scope='col') 目標タイム
          |       
          th(scope='col') 2'00'00
          |       
          th(scope='col') 2'06'35
          |       
          th(scope='col') xxxxxx
          |       
          th(scope='col') aaaaaa
          |       
          th(scope='col') aaaaaa
          |       
          th(scope='col') aaaaaa
      tbody
        tr
          th(scope='row') 1km
          |       
          td Mark
          |       
          td Otto
          |       
          td @mdo
          |       
          td @mdo
          |       
          td @mdo
          |       
          td @mdo
        tr
          th(scope='row') 5km
          |       
          td Jacob
          |       
          td Thornton
          |       
          td @fat
          |       
          td @fat
          |       
          td @fat
          |       
          td @fat
        tr
          th(scope='row') 10km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') 15km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') 20km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') ハーフ
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') 25km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') 30km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') 35km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') 40km
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
        tr
          th(scope='row') フル
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
