extends pacebase 

block content
  h2 織田フィールドの情報 
  h4 代々木公園陸上競技場(織田フィールド)
  .table-responsive
    table.table
      thead
        tr
          th(scope='col') #
          |       
          th(scope='col') First
          |       
          th(scope='col') Last
          |       
          th(scope='col') Handle
          |       
          th(scope='col') Handle
          |       
          th(scope='col') Handle
          |       
          th(scope='col') Handle
      tbody
        tr
          th(scope='row') 1
          |       
          td Mark
          |       
          td Otto
          |       
          td @mdo
          |       
          td @mdo
          |       
          td @mdo
          |       
          td @mdo
        tr
          th(scope='row') 2
          |       
          td Jacob
          |       
          td Thornton
          |       
          td @fat
          |       
          td @fat
          |       
          td @fat
          |       
          td @fat
        tr
          th(scope='row') 3
          |       
          td Larry
          |       
          td the Bird
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
          |       
          td @twitter
