extends base 

block topcontent 
  h2 夢の島競技場 開放日
  h5 夢の島競技場の個人利用可能時間は以下の通りです。
block schedule
  nav(aria-label='Page navigation example')
    pagination(v-on:previous-week-event='handlePreviousWeek', v-on:next-week-event='handleNextWeek')
  .d-md-none
    schedule-phone(v-bind:timeslots='timeSlots', v-bind:dates='dates', v-bind:status='status')
  .d-none.d-md-block
    schedule-pc(v-bind:timeslots='timeSlots', v-bind:dates='dates', v-bind:status='status')
block information
  h2 夢の島競技場の情報 
  h4 夢の島競技場
  .d-md-none
    iframe.mb-2(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.198853620734!2d139.82042951502805!3d35.6474720394305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188830ec82b0eb%3A0x38e551d88d939e11!2z44CSMTM2LTAwODEg5p2x5Lqs6YO95rGf5p2x5Yy65aSi44Gu5bO277yR5LiB55uu77yR4oiS77yS!5e0!3m2!1sja!2sjp!4v1527175702727', width='330', height='300', frameborder='0', style='border:0', allowfullscreen='')
  .d-none.d-md-block
    iframe.mb-2(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.198853620734!2d139.82042951502805!3d35.6474720394305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188830ec82b0eb%3A0x38e551d88d939e11!2z44CSMTM2LTAwODEg5p2x5Lqs6YO95rGf5p2x5Yy65aSi44Gu5bO277yR5LiB55uu77yR4oiS77yS!5e0!3m2!1sja!2sjp!4v1527175702727', width='800', height='600', frameborder='0', style='border:0', allowfullscreen='')
  h4 アクセス
  h6 りんかい線新木場駅徒歩7分
  h4 連絡先
  h6 夢の島競技場内 屋外スポーツ施設事務所
  h6 （TEL:03-3522-0846）
  h4.pt-3 使用感
  hr.mt-1.mb-2
  h5.expand-line-height 新木場駅から歩いていける距離にある競技場。夜まで空いているので仕事帰りでも利用可能。
     br
     br
     | 都心からのアクセスが良く。周囲は1.5kmのランニングコースがあり、更衣室もシャワールームもあるので、練習中および練習後の環境は非常に良い。
     | 織田フィールドと比較すると、利用人数は20分の1程度だと思うので、混雑が嫌ならばこちらを日常に使うのも良いと思う。
     br
     br
     | 新木場駅周辺は原宿と比較すると飲食店は少ないので、練習後の楽しみはほどほどという程度だろうか。