extends base

append header
  // Adsense
  script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7941378059940304",
    enable_page_level_ads: true
    });
  
block bodycontent
  .container.pt-4
    h5 マラソンの1kmごとのラップが知りたい、けど表が横長でスマホだと見にくい・・・
      br 
      | そんな自分自身の悩みを解決するために、
      br
      a(href="pace/marathon") スマホでも見やすいマラソンのペース表
      br
      | を作りました(2時間〜6時間半まで)
  .container.pt-4
    block topcontent
  .container
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    // Top ad
    ins.adsbygoogle(style='display:block;min-width:300px;max-width:970px;width:100%;height:270px', data-ad-client='ca-pub-7941378059940304', data-ad-slot='6879016191', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  .container.pt-2#app
    //- under vue.js's control
    block schedule
  .container.pt-2
    block information
  .container.pt-3
    hr
    h4.pt-2 ウェブサイトの要望は、
    a(href="https://twitter.com/itsrun_page")
      h4 @itsrun_page
    h4 までどうぞ

append scripts
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase.js')
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase-auth.js')
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js')
  script.
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCSsO3dn7qPHhGDt4MfXSeiPrk-pF51m-g",
      authDomain: "itsrun-aaf42.firebaseapp.com",
      databaseURL: "https://itsrun-aaf42.firebaseio.com",
      projectId: "itsrun-aaf42",
      storageBucket: "itsrun-aaf42.appspot.com",
      messagingSenderId: "337135752630"
    };
    firebase.initializeApp(config);
  script.
    var stadiumId = !{JSON.stringify(stadium_id)};
  script(src='/javascripts/common_module.bundle.js')
  script(src='/javascripts/index.bundle.js')